.pokemon{
    /* flex-basis: 30%; */
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
}
.pokemon:hover{
    background: linear-gradient(rgba(245, 245, 220, 0.205), rgba(255, 166, 0, 0.279));
}
.pokemon>img{
    object-fit: scale-down;
    height: 200px;
    max-height: 80%;
    /* margin-bottom: 1rem; */
}
.pokemon>h1{
    font-size: larger;
    letter-spacing: 0.5rem;
}